* {	margin: 0;padding: 0;text-align: center;}
nav {
    width: 150px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    list-style: none;
}
main {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 33%;
}
.img {
    display: flex;
    justify-content: space-between;
    width: 100%;
}